@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('//basehold.it/25');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* base styles */
html {
  font-family: 'Raleway', 'Hoefler Text', Georgia, 'Times New Roman', sans-serif;
  font-size: 20px; /* 20/16=1.25*/
  line-height: 25px; /*25/20=1.25*/
  background: #222;
  color: #D3D3D3;
}

h1 {
  font-size: 35.538px; /*two steps up modular scale */
  line-height: 50px;
}

h2 {
  font-size: 26.66px;
  padding-top: 25px;
  margin-bottom: 25px;
  font-weight: 600;
}

h3 {
  margin-top:25px;
  font-weight: 600;
  margin-bottom:25px;
}

h3.edu {
  margin-top: 16.667px;
}


h4 {
  padding-bottom: 16.667px;
}

h4.addy {
  padding-bottom: 16.667px;
}

p {
  text-indent: 37.5px;
  padding-left: 11.111px;
  padding-right: 11.111px;
}

li {
  margin-top: 8px;
}

li.origin, li.interpret {
  padding-left: 16.667px;
}

li.covers {
  padding-left: 11.111px;
}

ul.artists, ul.info, ol.schoolyear {
  padding-left: 25px;
  list-style-type: circle;
}

ul.active {
  padding-left: 25px;
  list-style-type: circle;
  padding-bottom: 11.111px;
}

li.active {
  padding-bottom: 16.667px;
}

ul.post{
  padding-left: 33.325px;
  list-style-type: square;
  padding-bottom: 2px;
}


ul.info {
  list-style-type: circle;
}

figcaption {
  text-align: center;
  }

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* layout styles */


/* Modular Styles */

.nav a {
  display:block;
  text-decoration:none;
  background:#f6eee1;
  color:#222;
  padding:16.667px;
}

.nav li {
  padding-bottom: 12.5px;
}

.nav a:hover {
  background:#ebdabc;
}

/* state styles */

@media screen and (min-width: 330px) {
  .nav::after {
    content: "";
    display: block;
    clear:both;
    float: none;
  }
  .nav li {
    float: left;
    text-align: center;
    width: 33.33333333333%;
    padding-bottom: 26.66px;
  }
  h2 {
    padding-top: 8px;
  }

  h3 {
    font-weight: 600;
  }
}

@media screen and (min-width: 800px) {
  p {
    padding-left: 37.5px;
    padding-right: 37.5px;
  }
}
